<button type="button" class="block p-2 md:hidden">
  <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="icon" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
  </svg>
</button>

<div class="text-sm text-muted ">{{ title | async }}</div>

<a routerLink="/" class="hidden md:block flex-auto text-center text-3xl font-bold">BRAND</a>

<div class="hidden md:block">
  <input type="text" class="rounded-full bg-gray-200 px-3 py-2" placeholder="Ara">
</div>

<div class="hidden md:flex items-center gap-2">
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
  </svg>
  <div>User name</div>
</div>
